<section class="faq page__block">
	<h2 class="title">Часто задаваемые вопросы</h2>

	<ul class="faq-list content-wrap list-reset">
		<li class="faq-list__item faq-list__item_active">
			<a class="faq-list__link link" href="#">
				<h3 class="faq-list__title">Выносите ли Вы старые окна после демонтажа и прочий строительный мусор?</h3>
			</a>
			<p class="faq-list__answer">Да, конечно! Весь мусор оставщийся после нашей работы будет вынесен на ближайщую мусорку. А в доме будет произведена сухая уборка с помощью строительного пылесоса, который имеется у каждой из наших бригад!</p>
		</li>
		<li class="faq-list__item">
			<a class="faq-list__link link" href="#">
				<h3 class="faq-list__title">Как долго происходит установка?</h3>
			</a>
			<p class="faq-list__answer">Да, конечно! Весь мусор оставщийся после нашей работы будет вынесен на ближайщую мусорку. А в доме будет произведена сухая уборка с помощью строительного пылесоса, который имеется у каждой из наших бригад!</p>
		</li>
		<li class="faq-list__item">
			<a class="faq-list__link link" href="#">
				<h3 class="faq-list__title">Выносите ли Вы старые окна после демонтажа и прочий строительный мусор?</h3>
			</a>
			<p class="faq-list__answer">Да, конечно! Весь мусор оставщийся после нашей работы будет вынесен на ближайщую мусорку. А в доме будет произведена сухая уборка с помощью строительного пылесоса, который имеется у каждой из наших бригад!</p>
		</li>
		<li class="faq-list__item">
			<a class="faq-list__link link" href="#">
				<h3 class="faq-list__title">Как долго происходит установка?</h3>
			</a>
			<p class="faq-list__answer">Да, конечно! Весь мусор оставщийся после нашей работы будет вынесен на ближайщую мусорку. А в доме будет произведена сухая уборка с помощью строительного пылесоса, который имеется у каждой из наших бригад!</p>
		</li>
	</ul>
</section>
