<section class="fittings-features fittings-features_page_wooden page__block">
	<div class="fittings-features__bg fittings-features__bg_page_wooden" aria-hidden="true"></div>
	<div class="content-wrap">
		<div class="fittings-features__inner fittings-features__inner_page_wooden">
			<header class="fittings-features__header">
				<h3 class="title fittings-features__title">Премиум фурнитура</h3>
				<ul class="fittings-manufacturers list-reset">
					<li class="fittings-manufacturers__item">
						<img class="fittings-manufacturers__img img" src="img/roto-logo.png" alt="Roto">
					</li>
					<li class="fittings-manufacturers__item">
						<img class="fittings-manufacturers__img img" src="img/maco-logo.png" alt="Maco">
					</li>
				</ul>
			</header>

			<p class="fittings-features__text-block">Фурнитура ROTO обладает целым рядом преимуществ, которые выделяют её среди конкурентов: повышенная устойчивость к взлому, непревзойдённое немецкое качество и гарантия долгого срока службы. Компания ROTO соблюдает все мировые стандарты в производстве фурнитуры.</p>
			<p class="fittings-features__text-block">Изделия компании ROTO очень лёгкие и удобные в обработке. Можно сказать, что эта фурнитура задаёт новые стандарты в своей сфере. Фурнитура ROTO создана по модульному принципу, что позволяет использовать её при создании окон практически любой формы, размера и типа открывания. Всё это, в сочетании с высоким качеством, лишь подтверждает первенство фурнитуры ROTO на мировом рынке.</p>
		</div>
	</div>
</section>
