<footer class="page-footer page__block">
	<div class="page-footer__inner content-wrap row">
		<section class="footer-block col-lg-3 col-sm-6 col-12">
			<h2 class="footer-block__title">Контакты</h2>
			<a class="footer-block__contact-item footer-block__contact-item_type_tel footer-link link" href="tel:74955555555">+7 (495) 555-55-55</a>
			<a class="footer-block__contact-item footer-block__contact-item_type_mail footer-link link" href="mailto:info@okna-passage.ru">info@okna-passage.ru</a>
			<span class="footer-block__contact-item footer-block__contact-item_type_address">г. Одинцово, ул. Центральная, д. 25</span>
		</section>
		<section class="footer-block col-lg-3 col-sm-6 col-12">
			<h2 class="footer-block__title">Мы в мессенджерах</h2>
			<a class="messenger-link link messenger-link_type_telegram" href="#">Telegram</a>
			<a class="messenger-link link messenger-link_type_viber" href="#">Viber</a>
		</section>
		<section class="footer-block col-lg-3 col-sm-6 col-12">
			<h2 class="footer-block__title">Наша продукция</h2>
			<ul class="footer-list std-list">
				<li class="footer-list__item">
					<a class="footer-link link" href="plastic.html">пластиковые окна</a>
				</li>
				<li class="footer-list__item">
					<a class="footer-link link" href="wooden.html">деревянные окна</a>
				</li>
				<li class="footer-list__item">
					<a class="footer-link link" href="mansard.html">мансардные окна</a>
				</li>
				<li class="footer-list__item">
					<a class="footer-link link" href="#">балконы и лоджии</a>
				</li>
			</ul>
		</section>
		<section class="footer-block col-lg-3 col-sm-6 col-12">
			<h2 class="footer-block__title">Полезная информация</h2>
			<ul class="footer-list std-list">
				<li class="footer-list__item">
					<a class="footer-link link" href="#">новости</a>
				</li>
				<li class="footer-list__item">
					<a class="footer-link link" href="#">статьи</a>
				</li>
				<li class="footer-list__item">
					<a class="footer-link link" href="#">для покупателей</a>
				</li>
				<li class="footer-list__item">
					<a class="footer-link link" href="#">способы оплаты</a>
				</li>
				<li class="footer-list__item">
					<a class="footer-link link" href="#">кредит и рассрочка</a>
				</li>
				<li class="footer-list__item">
					<a class="footer-link link" href="#">контакты</a>
				</li>
			</ul>
		</section>
	</div>
</footer>

<div class="mobile-menu-overlay">
	<div class="mobile-menu-overlay__inner">
		<button class="mobile-menu-overlay__close-btn btn">
			<span class="screen-readers-only">закрыть меню</span>
		</button>
	</div>
</div>

@@include('scripts.html')
</body>
</html>
