<div class="action-form page__block">
	<form class="callback-form form action-form__form content-wrap" action="#" method="post">
		<h2 class="title action-form__title">Успей заказать окна до 31 мая по самой низкой цене!</h2>
		<label class="callback-form__label label">
			<input class="callback-form__input input label__input" type="text" name="name" required>
			<span class="label__text">Ваше имя</span>
		</label>
		<label class="callback-form__label label">
			<input class="callback-form__input input label__input" type="tel" name="tel" required>
			<span class="label__text">Ваш телефон</span>
		</label>
		<input class="callback-form__submit-btn btn btn_color_white btn_font_bold" type="submit" value="Заказать выезд специалиста">
	</form>
</div>
