<section class="high-quality page__block">
	<div class="high-quality__inner content-wrap">
		<h2 class="title high-quality__title">Высочайшее качество исполнения</h2>
		<span class="high-quality__subtitle">Технология продуманная до мелочей</span>
		<div class="high-quality-features content-wrap">
			<img class="high-quality-features__img img" src="img/high-quality-img.png" alt="alt text">
			<div class="high-quality-features__item high-quality-features__item_n_1">
				<div class="qual-feature">
					<div class="qual-feature__popup">
						<div class="qual-feature__title">Профиль из клееного бруса</div>
						<p class="qual-feature__text">В зависимости от ширины стеклопакета профиль состоит может состоять из 3, либо 4 слоев клееного бруса. Благодаря уникальной технологии склейки и сушки бруса мы гарантируем высочайшее качество, и предоставляем <b class="text-uderline">гарантию 30 лет</b> на любой профиль</p>
					</div>
				</div>
			</div>
			<div class="high-quality-features__item high-quality-features__item_n_2">
				<div class="qual-feature">
					<div class="qual-feature__popup">
						<div class="qual-feature__title">Профиль из клееного бруса</div>
						<p class="qual-feature__text">В зависимости от ширины стеклопакета профиль состоит может состоять из 3, либо 4 слоев клееного бруса. Благодаря уникальной технологии склейки и сушки бруса мы гарантируем высочайшее качество, и предоставляем <b class="text-uderline">гарантию 30 лет</b> на любой профиль</p>
					</div>
				</div>
			</div>
			<div class="high-quality-features__item high-quality-features__item_n_3">
				<div class="qual-feature">
					<div class="qual-feature__popup">
						<div class="qual-feature__title">Профиль из клееного бруса</div>
						<p class="qual-feature__text">В зависимости от ширины стеклопакета профиль состоит может состоять из 3, либо 4 слоев клееного бруса. Благодаря уникальной технологии склейки и сушки бруса мы гарантируем высочайшее качество, и предоставляем <b class="text-uderline">гарантию 30 лет</b> на любой профиль</p>
					</div>
				</div>
			</div>
			<div class="high-quality-features__item high-quality-features__item_n_4">
				<div class="qual-feature">
					<div class="qual-feature__popup">
						<div class="qual-feature__title">Профиль из клееного бруса</div>
						<p class="qual-feature__text">В зависимости от ширины стеклопакета профиль состоит может состоять из 3, либо 4 слоев клееного бруса. Благодаря уникальной технологии склейки и сушки бруса мы гарантируем высочайшее качество, и предоставляем <b class="text-uderline">гарантию 30 лет</b> на любой профиль</p>
					</div>
				</div>
			</div>
			<div class="high-quality-features__item high-quality-features__item_n_5">
				<div class="qual-feature">
					<div class="qual-feature__popup">
						<div class="qual-feature__title">Профиль из клееного бруса</div>
						<p class="qual-feature__text">В зависимости от ширины стеклопакета профиль состоит может состоять из 3, либо 4 слоев клееного бруса. Благодаря уникальной технологии склейки и сушки бруса мы гарантируем высочайшее качество, и предоставляем <b class="text-uderline">гарантию 30 лет</b> на любой профиль</p>
					</div>
				</div>
			</div>
			<div class="high-quality-features__item high-quality-features__item_n_6">
				<div class="qual-feature">
					<div class="qual-feature__popup">
						<div class="qual-feature__title">Профиль из клееного бруса</div>
						<p class="qual-feature__text">В зависимости от ширины стеклопакета профиль состоит может состоять из 3, либо 4 слоев клееного бруса. Благодаря уникальной технологии склейки и сушки бруса мы гарантируем высочайшее качество, и предоставляем <b class="text-uderline">гарантию 30 лет</b> на любой профиль</p>
					</div>
				</div>
			</div>
			<div class="high-quality-features__item high-quality-features__item_n_7">
				<div class="qual-feature">
					<div class="qual-feature__popup">
						<div class="qual-feature__title">Профиль из клееного бруса</div>
						<p class="qual-feature__text">В зависимости от ширины стеклопакета профиль состоит может состоять из 3, либо 4 слоев клееного бруса. Благодаря уникальной технологии склейки и сушки бруса мы гарантируем высочайшее качество, и предоставляем <b class="text-uderline">гарантию 30 лет</b> на любой профиль</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
