<nav class="main-navigation page-header__navigation">
	<div class="main-navigation__inner content-wrap">
		<a class="logo link page-header__logo" href="plastic.html">
			<img class="logo-img img page-header__logo-img" src="img/logo.png" alt="наш логотип">
			<span class="logo-text">
				<span class="logo-text__first-word">Оконный</span>
				<span class="logo-text__second-word">пассаж</span>
			</span>
			<span class="logo__subtitle">все окна в одном месте</span>
		</a>
		<button class="hamburger-btn main-navigation__menu-btn btn" type="button" title="показать меню">
			<span class="screen-readers-only">показать меню</span>
			<span class="hamburger-btn__lines" aria-hidden="true"></span>
		</button>
		<div class="main-navigation__menu-wrap">
			<div class="main-navigation__links-block">
				<a class="header-link header-link_type_calculator link" href="#calculator">Рассчет стоимости</a>
				<a class="header-link header-link_type_measure link" href="#">Бесплатный замер</a>
				<a class="phone-link link" href="tel:+74955555555">+7 (495) 555-55-55</a>
			</div>
			<ul class="main-menu main-navigation__menu list-reset">
				<li class="main-menu__item">
					<a class="main-menu__link link" href="plastic.html">Пластиковые окна</a>
				</li>
				<li class="main-menu__item">
					<a class="main-menu__link link" href="wooden.html">Деревянные окна</a>
				</li>
				<li class="main-menu__item">
					<a class="main-menu__link link" href="mansard.html">Мансардные окна</a>
				</li>
				<li class="main-menu__item">
					<a class="main-menu__link link" href="#">Балконы и лоджии</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
