<section class="dealer-feature page__block">
	<p class="dealer-feature-text"><b class="bold-text">Оконный пассаж</b> - один из крупнейщих поставщиков пластиковых окон в Московском регионе. Мы являемся официальным представителем крупнейщих производителей со всего мира, а в нашем штате работает более 5 высококласных бригад установщиков!</p>
	<ul class="manufacturer-list content-wrap list-reset">
		<li class="manufacturer-list__item">
			<img class="manufacturer-list__img img" src="img/rehau-logo.png" alt="rehau">
		</li>
		<li class="manufacturer-list__item">
			<img class="manufacturer-list__img img" src="img/rehau-logo.png" alt="rehau">
		</li>
		<li class="manufacturer-list__item">
			<img class="manufacturer-list__img img" src="img/rehau-logo.png" alt="rehau">
		</li>
		<li class="manufacturer-list__item">
			<img class="manufacturer-list__img img" src="img/rehau-logo.png" alt="rehau">
		</li>
		<li class="manufacturer-list__item">
			<img class="manufacturer-list__img img" src="img/rehau-logo.png" alt="rehau">
		</li>
	</ul>
</section>
