<section class="portfolio row">
	<h2 class="title portfolio__title">Последние работы</h2>

	<a class="portfolio-link portfolio__card col-md-3 col-sm-6 col-12" href="#">
		<img class="portfolio-link__img img" src="img/portflio-photo1.jpg" alt="Портфолио 1">
		<div class="portfolio-link__desc">
			<span class="portfolio-link__name">Замена окон в трехкомнатной квартире</span>
			<span class="portfolio-link__more-text">Подробнее</span>
		</div>
	</a>
	<a class="portfolio-link portfolio__card col-md-3 col-sm-6 col-12" href="#">
		<img class="portfolio-link__img img" src="img/portflio-photo2.jpg" alt="Портфолио 2">
		<div class="portfolio-link__desc">
			<span class="portfolio-link__name">Замена окон в трехкомнатной квартире</span>
			<span class="portfolio-link__more-text">Подробнее</span>
		</div>
	</a>
	<a class="portfolio-link portfolio__card col-md-3 col-sm-6 col-12" href="#">
		<img class="portfolio-link__img img" src="img/portflio-photo1.jpg" alt="Портфолио 1">
		<div class="portfolio-link__desc">
			<span class="portfolio-link__name">Замена окон в трехкомнатной квартире</span>
			<span class="portfolio-link__more-text">Подробнее</span>
		</div>
	</a>
	<a class="portfolio-link portfolio__card col-md-3 col-sm-6 col-12" href="#">
		<img class="portfolio-link__img img" src="img/portflio-photo2.jpg" alt="Портфолио 2">
		<div class="portfolio-link__desc">
			<span class="portfolio-link__name">Замена окон в трехкомнатной квартире</span>
			<span class="portfolio-link__more-text">Подробнее</span>
		</div>
	</a>
	<a class="portfolio-link portfolio__card col-md-3 col-sm-6 col-12" href="#">
		<img class="portfolio-link__img img" src="img/portflio-photo2.jpg" alt="Портфолио 1">
		<div class="portfolio-link__desc">
			<span class="portfolio-link__name">Замена окон в трехкомнатной квартире</span>
			<span class="portfolio-link__more-text">Подробнее</span>
		</div>
	</a>
	<a class="portfolio-link portfolio__card col-md-3 col-sm-6 col-12" href="#">
		<img class="portfolio-link__img img" src="img/portflio-photo1.jpg" alt="Портфолио 2">
		<div class="portfolio-link__desc">
			<span class="portfolio-link__name">Замена окон в трехкомнатной квартире</span>
			<span class="portfolio-link__more-text">Подробнее</span>
		</div>
	</a>
	<a class="portfolio-link portfolio__card col-md-3 col-sm-6 col-12" href="#">
		<img class="portfolio-link__img img" src="img/portflio-photo2.jpg" alt="Портфолио 1">
		<div class="portfolio-link__desc">
			<span class="portfolio-link__name">Замена окон в трехкомнатной квартире</span>
			<span class="portfolio-link__more-text">Подробнее</span>
		</div>
	</a>
	<a class="portfolio-link portfolio__card col-md-3 col-sm-6 col-12" href="#">
		<img class="portfolio-link__img img" src="img/portflio-photo1.jpg" alt="Портфолио 2">
		<div class="portfolio-link__desc">
			<span class="portfolio-link__name">Замена окон в трехкомнатной квартире</span>
			<span class="portfolio-link__more-text">Подробнее</span>
		</div>
	</a>
</section>
