<section class="quality-feature page__block">
	<h2 class="title">Качество сервиса -
		<span class="quality-feature__subtitle">наша ключевая особенность</span>
	</h2>
	<ul class="quality-feature-list content-wrap list-reset">
		<li class="quality-feature-list__item">
			<img class="quality-feature-list__img" src="img/quality-feature.svg" aria-hidden="true">
			<span class="quality-feature-list__feature">Проверенное качество</span>
			<span class="quality-feature-list__feature-desc">Продукция проверенная тысячи клиентов.</span>
		</li>
		<li class="quality-feature-list__item">
			<img class="quality-feature-list__img" src="img/no-dirt.svg" aria-hidden="true">
			<span class="quality-feature-list__feature">Никакой грязи и мусора</span>
			<span class="quality-feature-list__feature-desc">Мы ценим порядок в Вашем доме и уберем мусор после установки окон</span>
		</li>
		<li class="quality-feature-list__item">
			<img class="quality-feature-list__img" src="img/montage.svg" aria-hidden="true">
			<span class="quality-feature-list__feature">Монтаж в любой день!</span>
			<span class="quality-feature-list__feature-desc">Произведем монтаж в любой удобный для Вас день!</span>
		</li>
		<li class="quality-feature-list__item">
			<img class="quality-feature-list__img" src="img/good-prices.svg" aria-hidden="true">
			<span class="quality-feature-list__feature">Доступные цены</span>
			<span class="quality-feature-list__feature-desc">Мы предоставляем лучшие цены, при этом не экономим на качестве нашей продукции</span>
		</li>
		<li class="quality-feature-list__item">
			<img class="quality-feature-list__img" src="img/warranty.svg" aria-hidden="true">
			<span class="quality-feature-list__feature">Гарантия 10 лет</span>
			<span class="quality-feature-list__feature-desc">Мы выбираем лучших поставщиков и отвечаем за качество.</span>
		</li>
		<li class="quality-feature-list__item">
			<img class="quality-feature-list__img" src="img/payment.svg" aria-hidden="true">
			<span class="quality-feature-list__feature">Любые формы оплаты</span>
			<span class="quality-feature-list__feature-desc">Оплата наличными, картой или рассрочка? Плати как удобно! </span>
		</li>
	</ul>
</section>
