<section class="unique-design unique-design_page_wooden page__block">
	<div class="unique-design__bg unique-design__bg_page_wooden" aria-hidden="true"></div>
	<div class="unique-design__inner content-wrap">
		<h2 class="title unique-design__title">Десятки цветовых решений</h2>
		<p class="unique-design__text">За счет использования высококачественного оборудования и качественных окрасочных материалов мы можем придать Вашим окнам практически любой оттенок и цвет. При этом современные покрытия способны защитить оконные рамы от влаги и воздействия окружающей среды, при этом структура дерева не теряет своих уникальных свойств.</p>
		<ul class="color-list list-reset">
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/bg-wooden-pattern.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama32_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama33_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama34_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama35_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama36_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama37_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama31_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama32_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama33_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama34_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama35_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama36_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
			<li class="color-list__item">
				<span class="color-list__color" style="background-image: url(img/calc/rama37_sm.png);"></span>
				<span class="color-list__name">Белый</span>
			</li>
		</ul>
	</div>
</section>
