<section class="unique-design page__block">
	<div class="unique-design__bg" aria-hidden="true"></div>
	<div class="unique-design__inner content-wrap">
		<h2 class="title unique-design__title">Уникальный дизайн идеально подходящий для Вашего интерьера</h2>
		<p class="unique-design__text">Благодаря широкому Выбору цветовых и декоративных решений, специалисты нашей компании подберут  Вам именно те окна, которые идеально впишутся в Ваш интерьер. Палитра цветовых решений насчитывает более 100 цветов.</p>
		<ul class="design-list list-reset">
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama31_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama32_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama33_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama34_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama35_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama36_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama37_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama31_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama32_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama33_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama34_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama35_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama36_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
			<li class="design-list__item">
				<span class="design-list__color" style="background-image: url(img/calc/rama37_sm.png);">
					<span class="screen-readers-only">название текстуры/цвета</span>
				</span>
			</li>
		</ul>
	</div>
</section>
