<section class="windows-preview windows-preview_type_mansard page__block">
	<h2 class="title">Мансардные окна под любые задачи в одном месте!</h2>

	<div class="mansard-windows-slider content-wrap">
		<ul class="mansard-list list-reset slides">
			<li class="mansard-list__item">
				<a class="mansard-list__btn mansard-list__btn_active link" href="#mansard-1">
					<img class="mansard-list__img img" src="img/mansard-1.jpg" alt="Среднеповоротные">
					<span class="mansard-list__text">Среднеповоротные</span>
				</a>
			</li>
			<li class="mansard-list__item">
				<a class="mansard-list__btn link" href="#mansard-2">
					<img class="mansard-list__img img" src="img/mansard-2.jpg" alt="Комбинированная система открывания">
					<span class="mansard-list__text">Комбинированная система открывания</span>
				</a>
			</li>
			<li class="mansard-list__item">
				<a class="mansard-list__btn link" href="#mansard-1">
					<img class="mansard-list__img img" src="img/mansard-1.jpg" alt="Среднеповоротные">
					<span class="mansard-list__text">Среднеповоротные</span>
				</a>
			</li>
			<li class="mansard-list__item">
				<a class="mansard-list__btn link" href="#mansard-2">
					<img class="mansard-list__img img" src="img/mansard-2.jpg" alt="Комбинированная система открывания">
					<span class="mansard-list__text">Комбинированная система открывания</span>
				</a>
			</li>
			<li class="mansard-list__item">
				<a class="mansard-list__btn link" href="#mansard-1">
					<img class="mansard-list__img img" src="img/mansard-1.jpg" alt="Среднеповоротные">
					<span class="mansard-list__text">Среднеповоротные</span>
				</a>
			</li>
			<li class="mansard-list__item">
				<a class="mansard-list__btn link" href="#mansard-2">
					<img class="mansard-list__img img" src="img/mansard-2.jpg" alt="Комбинированная система открывания">
					<span class="mansard-list__text">Комбинированная система открывания</span>
				</a>
			</li>
		</ul>

		<div class="mansard-windows-slider__controls windows-model-slider__controls">
			<a class="mansard-windows-slider__btn mansard-windows-slider__btn_type_prev flex-prev" href="#">след.</a>
			<a class="mansard-windows-slider__btn mansard-windows-slider__btn_type_next flex-next" href="#">след.</a>
		</div>
	</div>

	<div class="window-preview-viewport content-wrap">
		<section id="mansard-1" class="window-preview-viewport__content mansard-windows-preview window-preview-viewport__content_active-type-tab">
			<header class="article-header" style="background-image: url(img/article-bg-1.jpg);">
				<h3 class="article-header__title">Мансардные окна с комбинированной системой открывания preSelect</h3>
				<img class="article-header__manufacturer-img img" src="img/velux-logo.png" alt="Velux">
				<span class="article-header__price manufacturer-price">
					от
					<span class="manufacturer-price-value">4.000</span>
					руб.
				</span>
			</header>
			<div class="article-content">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/ggX7qs19Br4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<p><i>Мансардные окна FAKRO preSelect® сочетают в себе все преимущества окон для крыши: хороший обзор, возможность беспрепятственно выглядывать из окна, многофункциональность, удобство эксплуатации, долговечность и безопасность.</i></p>
				<p><i>Модель preSelect® совмещает два способа открывания: среднеповоротный (позволяет вращать оконную створку на угол до 180º, что значительно облегчает мытье внешнего стекла) и подвесной (по верхней оси от 0º до 35º). Эксклюзивная фурнитура гарантирует фиксацию створки при любом способе открывания.</i></p>
				<p><i>В мансардном окне preSelect® предусмотрена простая и удобная система переключения режимов открывания при помощи одной ручки, расположенной внизу оконной створки. Переключатель режимов находится на боковом элементе оконной коробки и не заметен при закрытом окне.</i></p>
				<p><b>Мансардные окна с комбинированной системой открывания preSelect производятся в нескольких модификациях в зависимости от материала изготовления:</b>
				<br>FPP-V preSelect® - древесина сосны, покрытая 2 слоями полиакрилового лака на водной основе;
				<br>FPU-V preSelect® - древесина сосны, покрытая 3 слоями влагостойкого полиуретанового лака;
				<br>PPP-V preSelect® - многокамерный профиль ПВХ белого цвета, усиленный стальными профилями.
				</p>
			</div>
		</section>

		<section id="mansard-2" class="window-preview-viewport__content mansard-windows-preview">
			<header class="article-header" style="background-image: url(img/form-bg.jpg);">
				<h3 class="article-header__title">Срендеповоротные мансардные окна</h3>
				<img class="article-header__manufacturer-img img" src="img/fakro-logo.png" alt="Fakro">
				<span class="article-header__price manufacturer-price">
					от
					<span class="manufacturer-price-value">9.000</span>
					руб.
				</span>
			</header>
			<div class="article-content">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/ggX7qs19Br4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<p><i>Мансардные окна FAKRO preSelect® сочетают в себе все преимущества окон для крыши: хороший обзор, возможность беспрепятственно выглядывать из окна, многофункциональность, удобство эксплуатации, долговечность и безопасность.</i></p>
				<p><i>Модель preSelect® совмещает два способа открывания: среднеповоротный (позволяет вращать оконную створку на угол до 180º, что значительно облегчает мытье внешнего стекла) и подвесной (по верхней оси от 0º до 35º). Эксклюзивная фурнитура гарантирует фиксацию створки при любом способе открывания.</i></p>
				<p><i>В мансардном окне preSelect® предусмотрена простая и удобная система переключения режимов открывания при помощи одной ручки, расположенной внизу оконной створки. Переключатель режимов находится на боковом элементе оконной коробки и не заметен при закрытом окне.</i></p>
				<p><b>Мансардные окна с комбинированной системой открывания preSelect производятся в нескольких модификациях в зависимости от материала изготовления:</b>
				<br>FPP-V preSelect® - древесина сосны, покрытая 2 слоями полиакрилового лака на водной основе;
				<br>FPU-V preSelect® - древесина сосны, покрытая 3 слоями влагостойкого полиуретанового лака;
				<br>PPP-V preSelect® - многокамерный профиль ПВХ белого цвета, усиленный стальными профилями.
				</p>
			</div>
		</section>
	</div>
</section>
