<section class="windows-preview windows-preview_page_wooden page__block">
	<h2 class="title">Деревянне окна - стиль и комфорт</h2>
	<ul class="windows-type-tabs windows-type-tabs_no-uppercase tabs content-wrap list-reset">
		<li class="windows-type-tabs__item tabs__item">
			<a class="windows-type-tabs__btn tabs__btn btn" href="#wooden-osv">Деревянные окна ОСВ</a>
		</li>
		<li class="windows-type-tabs__item tabs__item">
			<a class="windows-type-tabs__btn tabs__btn btn windows-type-tabs__btn_active" href="#eurowindow-sosna">Евроокна из сосны</a>
		</li>
		<li class="windows-type-tabs__item tabs__item">
			<a class="windows-type-tabs__btn tabs__btn btn" href="#eurowindow-listv">Евроокна из лиственницы</a>
		</li>
		<li class="windows-type-tabs__item tabs__item">
			<a class="windows-type-tabs__btn tabs__btn btn" href="#eurowindow-dub">Евроокна из дуба</a>
		</li>
		<li class="windows-type-tabs__item tabs__item">
			<a class="windows-type-tabs__btn tabs__btn btn" href="#derevo-alum">Дерево-алюминиевые окна</a>
		</li>
	</ul>

	<div class="window-preview-viewport content-wrap">
		<section id="wooden-osv" class="window-preview-viewport__content">
			<h3 class="windows-type-title">Евроокна
				<span class="windows-type-title__type">ОСВ</span>
			</h3>

			<ul class="windows-manufacturer-tabs list-reset">
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link windows-manufacturer-tabs__link_active" href="#econom-manufacturer-1"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link" href="#econom-manufacturer-2"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link" href="#econom-manufacturer-3"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
			</ul>

			<section id="econom-manufacturer-1" class="windows-manufacturer-desc windows-manufacturer-desc_active-tab content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-1">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">4.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
				</ul>
			</section>

			<section id="econom-manufacturer-2" class="windows-manufacturer-desc content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-2">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">4.500</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
				</ul>
			</section>

			<section id="econom-manufacturer-3" class="windows-manufacturer-desc content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-3">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">5.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
				</ul>
			</section>
		</section>

		<section id="eurowindow-sosna" class="window-preview-viewport__content window-preview-viewport__content_active-type-tab">
			<h3 class="windows-type-title">Евроокна
				<span class="windows-type-title__type">сосна</span>
			</h3>

			<ul class="windows-manufacturer-tabs list-reset">
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link windows-manufacturer-tabs__link_active" href="#standard-manufacturer-1"><span class="semibold-text">Rehau</span> Grazia</a>
				</li>
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link" href="#standard-manufacturer-2"><span class="semibold-text">Rehau</span> Grazia</a>
				</li>
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link" href="#standard-manufacturer-3"><span class="semibold-text">Rehau</span> Grazia</a>
				</li>
			</ul>

			<section id="standard-manufacturer-1" class="windows-manufacturer-desc windows-manufacturer-desc_active-tab content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-1">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">4.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
				</ul>
			</section>

			<section id="standard-manufacturer-2" class="windows-manufacturer-desc content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-2">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">4.500</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
				</ul>
			</section>

			<section id="standard-manufacturer-3" class="windows-manufacturer-desc content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-3">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">5.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
				</ul>
			</section>
		</section>

		<section id="eurowindow-listv" class="window-preview-viewport__content">
			<h3 class="windows-type-title">Евроокна
				<span class="windows-type-title__type">лиственница</span>
			</h3>

			<ul class="windows-manufacturer-tabs list-reset">
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link windows-manufacturer-tabs__link_active" href="#premium-manufacturer-1"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link" href="#premium-manufacturer-2"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link" href="#premium-manufacturer-3"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link" href="#premium-manufacturer-4"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
			</ul>

			<section id="premium-manufacturer-1" class="windows-manufacturer-desc windows-manufacturer-desc_active-tab content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-1">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">8.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
				</ul>
			</section>

			<section id="premium-manufacturer-2" class="windows-manufacturer-desc content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-2">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">8.500</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
				</ul>
			</section>

			<section id="premium-manufacturer-3" class="windows-manufacturer-desc content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-3">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">9.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
				</ul>
			</section>

			<section id="premium-manufacturer-4" class="windows-manufacturer-desc content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-3">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">10.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
				</ul>
			</section>
		</section>

		<section id="eurowindow-dub" class="window-preview-viewport__content">
			<h3 class="windows-type-title">Евроокна
				<span class="windows-type-title__type">дуб</span>
			</h3>

			<ul class="windows-manufacturer-tabs list-reset">
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link windows-manufacturer-tabs__link_active" href="#elite-manufacturer-1"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link" href="#elite-manufacturer-2"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link" href="#elite-manufacturer-3"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
			</ul>

			<section id="elite-manufacturer-1" class="windows-manufacturer-desc windows-manufacturer-desc_active-tab content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-1">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">10.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
				</ul>
			</section>

			<section id="elite-manufacturer-2" class="windows-manufacturer-desc content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-2">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">15.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
				</ul>
			</section>

			<section id="elite-manufacturer-3" class="windows-manufacturer-desc content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-3">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">20.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
				</ul>
			</section>
		</section>

		<section id="derevo-alum" class="window-preview-viewport__content">
			<h3 class="windows-type-title">Евроокна
				<span class="windows-type-title__type">дерево-алюминиевые</span>
			</h3>

			<ul class="windows-manufacturer-tabs list-reset">
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link windows-manufacturer-tabs__link_active" href="#elite-manufacturer-1"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link" href="#elite-manufacturer-2"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
				<li class="windows-manufacturer-tabs__item">
					<a class="windows-manufacturer-tabs__link link" href="#elite-manufacturer-3"><span class="semibold-text">Grazia</span> Rehau</a>
				</li>
			</ul>

			<section id="elite-manufacturer-1" class="windows-manufacturer-desc windows-manufacturer-desc_active-tab content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-1">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">10.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
				</ul>
			</section>

			<section id="elite-manufacturer-2" class="windows-manufacturer-desc content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-2">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">15.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
				</ul>
			</section>

			<section id="elite-manufacturer-3" class="windows-manufacturer-desc content-wrap">
				<img class="windows-manufacturer-desc__img img" src="img/wooden-window.png" alt="Окна от standard-manufacturer-3">
				<span class="manufacturer-price">
					от
					<span class="manufacturer-price-value">20.000</span>
					руб.
				</span>
				<span class="manufacturer-slogan">На защите тепла! Окна созданные специально для сурового Российского климата.</span>

				<ul class="std-list">
					<li class="std-list__item">Профильная система 70 мм</li>
					<li class="std-list__item">Стеклопакет толщиной 40 мм</li>
					<li class="std-list__item">5-и камерный профиль</li>
					<li class="std-list__item">Элегантные 20-ти градусные скосы</li>
					<li class="std-list__item">Экологичный профиль (без свинца)</li>
				</ul>

				<ul class="windows-icon-features list-reset">
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_profile-width" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Максимальная ширина профиля</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_light-hole" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Увеличенный световой проем</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_heat-protection" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Повышенная теплозащита</span>
					</li>
					<li class="windows-icon-features__item">
						<span class="windows-icon-features__icon windows-icon-features__icon_type_sound-attenuation" aria-hidden="true"></span>
						<span class="windows-icon-features__text">Высокое шумопоглащение</span>
					</li>
				</ul>
			</section>
		</section>

		<div class="windows-preview__btn-wrap">
			<a class="window-preview__btn window-preview__btn_view_order-spec btn btn_color_transp" href="#">Бесплатный выезд специалиста</a>
			<a class="window-preview__btn btn btn_color_blue" href="#calculator">Рассчитать стоимость</a>
		</div>
	</div>
</section>
